{#
 # This file is part of Pollaris.
 # Copyright 2024-2026 Marien Fressinaud
 # Copyright 2026 Daniel Yepez Garces
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #
 # Modified by Daniel Yepez Garces on 2026-04-15:
 # - Migrated database backend from PostgreSQL to MariaDB for Toolforge deployment
 # - Added Wikimedia login support
 # - Removed local username/password authentication
 # - Added multilingual survey support
 # - Added user timezone display for survey times when different from server UTC
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'polls.new.title' | trans }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper--small wrapper--center flow flow--larger">
        <div class="flow">
            <h1>
                {{ 'polls.new.title' | trans }}
            </h1>

            {{ include('polls/_flow_steps.html.twig', { step: 'init' }) }}
        </div>

        {{ form_start(form, {
            attr: {
                'class': 'form--standard',
                'data-controller': 'poll-timezone',
            },
        }) }}
            {{ form_errors(form) }}

            {% set supportedLocales = constant('App\\Form\\LocalizedDescriptionItemType::SUPPORTED_LOCALES') %}
            <div 
                class="panel panel--primary panel--rounded flow flow--large"
                data-controller="translation-tabs"
                data-translation-tabs-supported-locales-value="{{ supportedLocales | json_encode }}"
            >
                <div data-translation-tabs-target="tabsContainer"></div>

                {{ form_row(form.title) }}
                <div 
                    class="flow" 
                    data-translation-tabs-target="titlesContainer"
                    data-controller="collection" 
                    data-collection-index-value="{{ form.localizedTitles | length > 0 ? form.localizedTitles | last.vars.name + 1 : 0 }}"
                >
                    <p class="text--bold" style="display: none;">{{ 'forms.poll_form.localized_titles.label' | trans }}</p>
                    <p class="text--secondary text--small" style="display: none;">{{ 'forms.poll_form.localized_titles.help' | trans }}</p>

                    <div data-collection-target="container" class="flow">
                        {% for item in form.localizedTitles %}
                            <div class="flow flow--small" data-item="element">
                                {{ form_row(item.locale) }}
                                {{ form_row(item.text) }}
                                <button type="button" class="button--menuitem" data-action="collection#removeElement" style="display: none;">
                                    {{ icon('trash') }}
                                    {{ 'forms.poll_form.localized_titles.remove' | trans }}
                                </button>
                            </div>
                        {% endfor %}
                    </div>

                    <template data-collection-target="prototype">
                        <div class="flow flow--small" data-item="element">
                            {{ form_row(form.localizedTitles.vars.prototype.locale) }}
                            {{ form_row(form.localizedTitles.vars.prototype.text) }}
                            <button type="button" class="button--menuitem" data-action="collection#removeElement" style="display: none;">
                                {{ icon('trash') }}
                                {{ 'forms.poll_form.localized_titles.remove' | trans }}
                            </button>
                        </div>
                    </template>

                    <button type="button" class="button--block button--small" data-action="collection#addElement" style="display: none;">
                        {{ icon('plus') }}
                        {{ 'forms.poll_form.localized_titles.add' | trans }}
                    </button>
                </div>
                {% do form.localizedTitles.setRendered() %}
                {{ form_row(form.description) }}

                <div
                    class="flow"
                    data-translation-tabs-target="descriptionsContainer"
                    data-controller="collection"
                    data-collection-index-value="{{ form.localizedDescriptions | length > 0 ? form.localizedDescriptions | last.vars.name + 1 : 0 }}"
                >
                    <p class="text--bold" style="display: none;">{{ 'forms.poll_form.localized_descriptions.label' | trans }}</p>
                    <p class="text--secondary text--small" style="display: none;">{{ 'forms.poll_form.localized_descriptions.help' | trans }}</p>

                    <div data-collection-target="container" class="flow">
                        {% for item in form.localizedDescriptions %}
                            <div class="flow flow--small" data-item="element">
                                {{ form_row(item.locale) }}
                                {{ form_row(item.text) }}
                                <button
                                    type="button"
                                    class="button--menuitem"
                                    data-action="collection#removeElement"
                                    style="display: none;"
                                >
                                    {{ icon('trash') }}
                                    {{ 'forms.poll_form.localized_descriptions.remove' | trans }}
                                </button>
                            </div>
                        {% endfor %}
                    </div>

                    <template data-collection-target="prototype">
                        <div class="flow flow--small" data-item="element">
                            {{ form_row(form.localizedDescriptions.vars.prototype.locale) }}
                            {{ form_row(form.localizedDescriptions.vars.prototype.text) }}
                            <button
                                type="button"
                                class="button--menuitem"
                                data-action="collection#removeElement"
                                style="display: none;"
                            >
                                {{ icon('trash') }}
                                {{ 'forms.poll_form.localized_descriptions.remove' | trans }}
                            </button>
                        </div>
                    </template>

                    <button
                        type="button"
                        class="button--block button--small"
                        data-action="collection#addElement"
                        style="display: none;"
                    >
                        {{ icon('plus') }}
                        {{ 'forms.poll_form.localized_descriptions.add' | trans }}
                    </button>
                </div>
                {% do form.localizedDescriptions.setRendered() %}

                <div data-translation-tabs-target="addButtonContainer" style="margin-top: 1rem; margin-bottom: 1.5rem;"></div>

                <div data-controller="duration-picker">
                    {{ form_row(form.duration, {
                        attr: {
                            'data-duration-picker-target': 'minutesInput'
                        }
                    }) }}
                </div>
                <div class="flow">
                    <p class="text--bold">{{ 'forms.poll_form.cohosts.label' | trans }}</p>
                    <p class="text--secondary text--small">{{ 'forms.poll_form.cohosts.help' | trans }}</p>
                    <div data-controller="collection" data-collection-index-value="{{ form.cohosts | length > 0 ? form.cohosts | last.vars.name + 1 : 0 }}">
                        <div data-collection-target="container" class="flow">
                            {% for cohost in form.cohosts %}
                                <div class="panel panel--rounded panel--secondary flow flow--small" data-item="element">
                                    {{ form_label(cohost.user) }}
                                    {{ form_errors(cohost.user) }}
                                    {{ form_widget(cohost.user, {
                                        attr: {
                                            'data-controller': 'user-autocomplete',
                                            'data-user-autocomplete-url-value': path('users_search'),
                                            'data-user-autocomplete-min-length-value': 2,
                                            'data-user-autocomplete-placeholder-value': 'forms.poll_cohost_type.user.search' | trans,
                                        }
                                    }) }}
                                    {{ form_row(cohost.right) }}
                                    <button type="button" class="button--menuitem" data-action="collection#removeElement">
                                        {{ icon('trash') }} {{ 'forms.poll_form.cohosts.remove' | trans }}
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <template data-collection-target="prototype">
                            <div class="panel panel--rounded panel--secondary flow flow--small" data-item="element">
                                {{ form_label(form.cohosts.vars.prototype.user) }}
                                {{ form_errors(form.cohosts.vars.prototype.user) }}
                                {{ form_widget(form.cohosts.vars.prototype.user, {
                                    attr: {
                                        'data-controller': 'user-autocomplete',
                                        'data-user-autocomplete-url-value': path('users_search'),
                                        'data-user-autocomplete-min-length-value': 2,
                                        'data-user-autocomplete-placeholder-value': 'forms.poll_cohost_type.user.search' | trans,
                                    }
                                }) }}
                                {{ form_row(form.cohosts.vars.prototype.right) }}
                                <button type="button" class="button--menuitem" data-action="collection#removeElement">
                                    {{ icon('trash') }} {{ 'forms.poll_form.cohosts.remove' | trans }}
                                </button>
                            </div>
                        </template>
                        <button type="button" class="button--block button--small" data-action="collection#addElement">
                            {{ icon('plus') }} {{ 'forms.poll_form.cohosts.add' | trans }}
                        </button>
                    </div>
                </div>
                {% do form.cohosts.setRendered() %}

                {{ form_row(form.closedAt) }}
                {{ form_row(form.timezoneMode) }}
            </div>

            <fieldset class="panel panel--primary panel--rounded">
                <legend>{{ 'polls.new.who_you_are' | trans }}</legend>

                <div class="flow flow--large">
                    {{ form_row(form.authorName) }}
                    
                    {% if form.authorEmail.vars.disabled %}
                        <div class="flow flow--small">
                            <label for="{{ form.authorEmail.vars.id }}">{{ form.authorEmail.vars.label | trans }}</label>
                            {{ form_widget(form.authorEmail, { attr: { placeholder: 'forms.poll_form.author_email.coming_soon' | trans } }) }}
                            <p class="text--secondary text--small">{{ 'forms.poll_form.author_email.help' | trans }}</p>
                        </div>
                        {% do form.authorEmail.setRendered() %}
                    {% else %}
                        {{ form_row(form.authorEmail) }}
                    {% endif %}
                    {% do form.localizedDescriptions.setRendered() %}
                </div>
            </fieldset>

            {{ include('polls/_flow_actions.html.twig', { step: 'init' }) }}
        {% if form._token is defined %}
            {{ form_row(form._token) }}
        {% endif %}
        {{ form_end(form, { render_rest: false }) }}
    </div>
{% endblock %}
