{#
 # This file is part of Pollaris.
 # Copyright 2024-2026 Marien Fressinaud
 # Copyright 2026 Daniel Yepez Garces
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #
 # Modified by Daniel Yepez Garces on 2026-04-15:
 # - Migrated database backend from PostgreSQL to MariaDB for Toolforge deployment
 # - Added Wikimedia login support
 # - Removed local username/password authentication
 # - Added multilingual survey support
 # - Added user timezone display for survey times when different from server UTC
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'polls.slots.title' | trans }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper--small wrapper--center flow flow--larger">
        <div class="flow">
            <h1>
                {{ 'polls.slots.title' | trans }}
            </h1>

            {{ include('polls/_flow_steps.html.twig', { step: 'slots' }) }}

            <p>
                {{ 'polls.slots.help' | trans }}
            </p>

            <p class="text--secondary">
                {{ 'polls.timezone.reference' | trans({ timezone: poll.timezoneName }) }}
            </p>
        </div>

        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="text--center">
                <button
                    type="button"
                    data-controller="slots-applier"
                    data-action="slots-applier#apply"
                >
                    {{ icon('clone') }}
                    {{ 'polls.slots.same_slots.apply' | trans }}
                </button>
            </div>

            {% for date in form.dates %}
                <fieldset class="panel panel--primary panel--rounded">
                    <legend>{{ date.vars.data.value | dateTrans('EEEE d MMMM yyyy', poll.timezoneName) }}</legend>

                    <div
                        class="flow flow--ignore-empty"
                        data-controller="collection"
                        data-collection-index-value="{{ date.proposals|length > 0 ? date.proposals|last.vars.name + 1 : 0 }}"
                        data-item="date-collection"
                    >
                        <div data-collection-target="container" class="flow">
                            {% for proposal in date.proposals %}
                                <div class="flow flow--small" data-item="element">
                                    <div class="text--right">
                                        <button
                                            type="button"
                                            class="button--ghost button--small"
                                            data-action="collection#removeElement"
                                        >
                                            {{ icon('trash') }}
                                            <span class="sr-only">
                                                {{ 'forms.poll_slots_form.remove_slot' | trans }}
                                            </span>
                                        </button>
                                    </div>
                                    <div class="cols cols--always cols--gap">
                                        {{ form_row(proposal['startTime']) }}
                                        {{ form_row(proposal['endTime']) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button
                            type="button"
                            class="button--menuitem"
                            data-action="collection#addElement"
                        >
                            {{ icon('circle-plus') }}

                            {{ 'forms.poll_slots_form.add_slot' | trans }}
                        </button>

                        <template data-collection-target="prototype">
                            <div class="flow flow--small" data-item="element">
                                <div class="text--right">
                                    <button
                                        type="button"
                                        class="button--ghost button--small"
                                        data-action="collection#removeElement"
                                    >
                                        {{ icon('trash') }}
                                        <span class="sr-only">
                                            {{ 'forms.poll_slots_form.remove_slot' | trans }}
                                        </span>
                                    </button>
                                </div>
                                <div class="cols cols--always cols--gap">
                                    {{ form_row(date.proposals.vars.prototype['startTime']) }}
                                    {{ form_row(date.proposals.vars.prototype['endTime']) }}
                                </div>
                            </div>
                        </template>
                            {# Mostrar duración general si existe #}
                            {% if form.parent and form.parent.duration is defined and form.parent.duration.vars.value %}
                                <div class="panel panel--info flow">
                                    <strong>{{ 'forms.poll_form.duration.label' | trans }}:</strong>
                                    {{ form.parent.duration.vars.value }} {{ 'forms.poll_form.duration.unit' | trans }}
                                </div>
                            {% endif %}
                    </div>
                </fieldset>
            {% endfor %}

            {{ include('polls/_flow_actions.html.twig', { step: 'slots' }) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
