{#
 # This file is part of Pollaris.
 # Copyright 2024-2026 Marien Fressinaud
 # Copyright 2026 Daniel Yepez Garces
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #
 # Modified by Daniel Yepez Garces on 2026-04-15:
 # - Migrated database backend from PostgreSQL to MariaDB for Toolforge deployment
 # - Added Wikimedia login support
 # - Removed local username/password authentication
 # - Added multilingual survey support
 # - Added user timezone display for survey times when different from server UTC
 #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'my.index.title' | trans }}{% endblock %}

{% block body %}
    <div
        class="wrapper wrapper--small wrapper--center flow flow--larger"
        data-controller="my"
    >
        <h1>
            {{ 'my.index.title' | trans }}
            {{ icon('thumbtack') }}
        </h1>

        {% if not app.user %}
            <div class="panel panel--primary panel--rounded flow flow--small text--center">
                <p class="text--bold">{{ 'my.index.login_required' | trans }}</p>
                <p>
                    <a class="button button--primary button--small" href="{{ path('login', { returnto: path('my') }) }}">
                        {{ 'layout.login' | trans }}
                    </a>
                </p>
            </div>
        {% else %}
            {% if app.request.query.get('mailSent') %}
                <div class="panel panel--success panel--rounded cols cols--gap-small">
                    <div class="text--bigger text--success">
                        {{ icon('circle-check') }}
                    </div>

                    <p class="text--success" role="alert">
                        {{ 'my.index.search.success' | trans }}
                    </p>
                </div>
            {% endif %}

        <div class="flow">
            <div class="cols cols--center cols--always cols--gap-small">
                <h2 class="col--extend text--primary">
                    {{ 'my.index.votes.title' | trans }}
                </h2>
            </div>

            {% if userVotes is not empty %}
                <ul class="panel panel--primary panel--rounded list--nostyle flow">
                    {% for vote in userVotes %}
                        <li class="panel panel--white panel--rounded flow flow--small">
                            <p class="text--bold">
                                {{ vote.poll.title }}
                            </p>

                            <p class="text--secondary">
                                {{ 'my.index.votes.meta' | trans | replace({
                                    '__poll_author__': vote.poll.authorName,
                                    '__vote_date__': vote.createdAt | dateTrans,
                                }) }}
                            </p>

                            <div class="cols cols--center cols--gap-small">
                                {% if vote.poll.isCompleted %}
                                    <a href="{{ path('poll', { slug: vote.poll.slug }) }}" class="button button--smaller">
                                        {{ 'my.index.poll_link' | trans }}
                                    </a>
                                {% endif %}

                                <a href="{{ path('edit vote', { slug: vote.poll.slug, id: vote.id }) }}" class="button button--smaller">
                                    {{ 'my.index.vote_link' | trans }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="panel panel--primary panel--rounded text--bold text--center">
                    {{ 'my.index.votes.empty_placeholder' | trans }}
                </p>
            {% endif %}
        </div>

        <div class="flow">
            <div class="cols cols--center cols--always cols--gap-small">
                <h2 class="col--extend text--primary">
                    {{ 'my.index.polls.title' | trans }}
                </h2>
            </div>

            {% if ownedPolls is not empty %}
                <ul class="panel panel--primary panel--rounded list--nostyle flow">
                    {% for poll in ownedPolls %}
                        <li class="panel panel--white panel--rounded flow flow--small">
                            <h3>{{ poll.title }}</h3>

                            <p class="text--secondary">
                                {{ 'my.index.polls.of_by' | trans | replace({
                                    '__date__': poll.createdAt | dateTrans,
                                    '__author__': poll.authorName,
                                }) }}
                            </p>

                            <div class="cols cols--center cols--gap-small">
                                {% if poll.isCompleted %}
                                    <a href="{{ path('poll', { slug: poll.slug }) }}" class="button button--smaller">
                                        {{ 'my.index.poll_link' | trans }}
                                    </a>
                                {% endif %}

                                <a href="{{ path('poll admin', { id: poll.id, token: poll.adminToken }) }}" class="button button--smaller">
                                    {{ 'my.index.admin_link' | trans }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="panel panel--primary panel--rounded text--bold text--center">
                    {{ 'my.index.polls.empty_placeholder' | trans }}
                </p>
            {% endif %}
        </div>

        {% endif %}{# end app.user #}

    </div>
{% endblock %}
