{#
 # This file is part of Pollaris.
 # Copyright 2024-2026 Marien Fressinaud
 # Copyright 2026 Daniel Yepez Garces
 # SPDX-License-Identifier: AGPL-3.0-or-later
 #
 # Modified by Daniel Yepez Garces on 2026-04-15:
 # - Migrated database backend from PostgreSQL to MariaDB for Toolforge deployment
 # - Added Wikimedia login support
 # - Removed local username/password authentication
 # - Added multilingual survey support
 # - Added user timezone display for survey times when different from server UTC
 #}

{% set preferredChoices = poll.preferredChoices %}
{% set displayMode = poll.type %}

<div class="flow flow--large">
    {% if displayMode == 'classic' %}
        {% for proposal in proposals %}
            <div class="panel panel--primary panel--rounded">
                {{ include('proposals/_proposal.html.twig', {
                    proposal: proposal,
                    isPreferred: preferredChoices and proposal in preferredChoices,
                    voteForm: voteForm,
                    myVote: myVote,
                }) }}
            </div>
        {% endfor %}
    {% elseif displayMode == 'date' %}
        {% for dateAndProposals in datesAndProposals %}
            {% set date = dateAndProposals[0] %}
            {% set proposals = dateAndProposals[1] %}

            <fieldset class="panel panel--primary panel--rounded panel--date flow">
                <div class="panel--date__legend">
                    <legend>{{ date.value | dateTrans('EEEE d MMMM yyyy', poll.timezoneName) }}</legend>
                </div>

                {% for proposal in proposals %}
                    {{ include('proposals/_proposal.html.twig', {
                        proposal: proposal,
                        isPreferred: preferredChoices and proposal in preferredChoices,
                        voteForm: voteForm,
                        myVote: myVote,
                    }) }}
                {% endfor %}
            </fieldset>
        {% endfor %}
    {% endif %}
</div>

{% if voteForm is null and not poll.isClosed and app.user is null %}
    <div class="panel panel--white panel--rounded panel--border text--center no-print flow flow--small" style="margin-top: 1.5rem;">
        <p class="text--bold">
            {{ 'polls.show.login_required_to_vote' | trans }}
        </p>
        
        <a href="{{ path('login', {'returnto': path('poll', {'slug': poll.slug})}) }}" class="button button--small button--primary">
            <span class="polls-login-required__icon" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="16" height="16">
                    <path d="M640 115.2L639.7 127.4C611.6 128.2 594.7 143.2 583.9 167.7C558.9 225.5 480.6 407.7 428.6 526.3L415 526.3L333.1 333.2C300.6 396.8 264.8 463.2 233.9 526.3C233.6 526.6 218.9 526.3 218.9 526C172 416.3 122.8 307.4 75.8 197.4C64.4 170.7 26.4 127.4 .2 127.7C.2 124.6-.1 117.7-.1 113.5L161.8 113.5L161.8 127.4C142.6 128.5 109 140.7 118.5 161.6C140.4 211.3 222.1 401.9 244.1 450.2C259.1 420.5 301.9 341 319.4 307.4C305.5 279.1 260.8 173.5 246.6 147.4C236.9 129.6 210.5 128 190.8 127.7L190.8 113.8L333.3 114.1L333.3 127.2C313.9 127.8 295.2 135 303.9 153.3C322.8 193.3 334.5 221.4 352 258C357.6 247.2 386.7 188.6 400.1 157.2C409 136.6 396.2 128.6 361.5 127.8C361.8 124.2 361.5 117.5 361.8 114.2C406.2 113.9 472.9 113.9 484.9 113.6L484.9 127.2C462.4 128 439.1 140 426.8 158.9L367.6 281.7C374 297.8 430.9 424.5 436.8 438.4L559.2 155.8C550.6 132.7 522.8 127.7 512 127.5L512 113.6L639.8 114.7L640 115.2z" />
                </svg>
            </span>
            {{ 'login.wikimedia.button' | trans }}
        </a>
    </div>
{% endif %}
